<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.server.mapper.DtuTableMapper">

    <resultMap id="BaseResultMap" type="com.example.server.entity.DtuTable">
            <id property="id" column="id" jdbcType="OTHER"/>
            <result property="state" column="state" jdbcType="TINYINT"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="plantId" column="plant_id" jdbcType="OTHER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,state,update_time,
        plant_id,connect_num
    </sql>
    <select id="listDtuByPlantId" resultType="com.example.server.vo.DtuList">
        SELECT dtu_table.id, dtu_table.state, dtu_table.update_time, count(*) as connectNum
        FROM dtu_table
            JOIN mi_info_table ON mi_info_table.dtu_id = dtu_table.id
        WHERE dtu_table.plant_id = #{plantId}
        GROUP BY dtu_table.id
    </select>
    <select id="listAlarmByInstitute" resultType="com.example.server.entity.DtuTable">
        SELECT dtu_table.*
        FROM dtu_table
                 JOIN plant_owner_table ON plant_owner_table.plant_id = dtu_table.plant_id
        WHERE plant_owner_table.institute_id = #{instituteId} AND dtu_table.state = 1

    </select>
</mapper>
