<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.server.mapper.MiAlarmTableMapper">

    <resultMap id="BaseResultMap" type="com.example.server.entity.MiAlarmTable">
            <id property="id" column="id" jdbcType="OTHER"/>
            <result property="ifAlarm" column="if_alarm" jdbcType="TINYINT"/>
            <result property="temperature" column="temperature" jdbcType="TINYINT"/>
            <result property="freq" column="freq" jdbcType="TINYINT"/>
            <result property="dcCurrent" column="dc_current" jdbcType="TINYINT"/>
            <result property="dcVoltage" column="dc_voltage" jdbcType="TINYINT"/>
            <result property="acCurrent" column="ac_current" jdbcType="TINYINT"/>
            <result property="acVoltage" column="ac_voltage" jdbcType="TINYINT"/>
            <result property="gridVoltage" column="grid_voltage" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,if_alarm,temperature,
        freq,dc_current,dc_voltage,
        ac_current,ac_voltage,grid_voltage
    </sql>
</mapper>
